RewriteEngine On

# If the file or directory exists, serve it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Otherwise, route everything to index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# Prevent directory listing
#Options -Indexes

# Allow access to public folder
RewriteRule ^public/(.*)$ public/$1 [L]