body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.781);
    overflow: hidden;
    width: 100%;
}

.home_container {
    background-color: lavender;
    width: 80%;
    height: 80vh;
    border-radius: 5px;
    overflow-x: hidden;
    margin: auto;
    padding: 1em 2em;
    text-align: center;
}

.search_container,
.container {
    padding: 20px;
    background-color: lavender;
    width: 45%;
    margin: 20px auto;
    border-radius: 5px;
    text-align: center;
}

.form_container {
    height: 80vh;
    overflow-y: scroll;
}

.table_container {
    width: 80%;
    height: 80vh;
    overflow-y: scroll;
}

.reg_message {
    text-align: center;
}

h1 {
    text-align: center;
    color: lavender;
    font-size: 25px;
}

h2 {
    color: orange;
    text-align: center;
}

h3 {
    color: rgba(0, 0, 0, 0.781);
}

a {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    text-decoration: none;
    color: purple;
    padding: 10px;
}

a:hover {
    background-color: purple;
    color: white;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}

a.delete:hover{
    background-color: red;
}

label {
    color: rgba(0, 0, 0, 0.781);
    font-size: 1.25em;
    width: 25%;
    display: inline-block;
    user-select: none;
    margin-right: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"] {
    width: 60%;
    height: 35px;
    background-color: rgb(248, 240, 240);
    padding: 5px 0px 5px 10px;
    font-size: 18px;
    border: 1px solid lavender;
    border-radius: 5px;
    display: inline-block;
    color: black;
}

select {
    width: 62%;
    height: 45px;
    background-color: rgb(248, 240, 240);
    padding: 5px 0px 5px 10px;
    font-size: 18px;
    border: 1px solid lavender;
    border-radius: 5px;
    display: inline-block;
    color: black;
}

option {
    font-size: 15px;
    font-family: "poppins";
}

input[type="submit"] {
    /* width: 50%; */
    width: 100%;
    height: 40px;
    background-color: lavender;
    text-align: center;
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0.781);
    border-radius: 5px;
    /* display: inline-block; */
    display: block;
    /* margin-left: 26%; */
    color: rgba(0, 0, 0, 0.781);
    margin-bottom: 2%
}

input[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 0.781);
    transition: background-color 0.5s ease;
    color: lavender;
    cursor: pointer;
}

.row {
    margin: 20px 0;
}

.row * {
    vertical-align: middle;
}

.row label {
    font-size: 16px;
    text-align: right;
}

.row label[for="male"],
.row label[for="female"]{
    text-align: left;
}

table {
    margin: 2% auto;
    width: 95%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

th,
td {
    border: 1px solid #808080;
    padding: 12px;
    text-align: center;
}

th {
    background-color: lavender;
    color: black;
    font-size: 1.1em;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

caption {
    text-align: center;
    padding: 10px;
    font-size: 18px;
    color: orange;
}

.action-links a {
    text-decoration: none;
    color: purple;
    padding: 5px 10px;
    border: 1px solid purple;
    border-radius: 4px;
}

.action-links a:hover {
    background-color: purple;
    color: white;
    transition: 0.3s;
}